<div class="container">
    <h1>カテゴリ検索</h1>
    <div class="genre_search_container">
        <%= link_to "野菜のおかず", "/recipes/vegetable" %>
        <%= link_to "お肉のおかず", "/recipes/meat" %>
        <%= link_to "魚介のおかず", "/recipes/fish" %>
        <%= link_to "ご飯もの", "/recipes/rice" %>
        <%= link_to "パスタ・グラタン", "/recipes/pasta_gratin" %>
        <%= link_to "麺", "/recipes/noodles" %>
        <%= link_to "シチュー・スープ・汁物", "/recipes/soup" %>
        <%= link_to "サラダ", "/recipes/salad" %>
        <%= link_to "粉もの", "/recipes/powder" %>
    </div>
</div>