<h1>チャット一覧</h1>
<hr>
<%= link_to("talk", "/rooms/related") %>
<br>

<% if @another_entries.present? %>
  <% @another_entries.each do |e| %>
    <%= link_to room_path(e.room_id) do %>
      <%= e.user.nickname %>とのDM<br>
    <% end %>
  <% end %>
<% end %>
<p><a href="/users/<%= current_user.id %>" class="btn btn-primary"><%= current_user.nickname %>さんの情報に戻る</a></p>
