<br>
<div class="row">
  <div class="container-message">
    <div class="room_show_text-center">
      <% @another_entries.each do |e| %>
        <p><%= e.user.nickname %></p>
      <% end %>
    </div>
  <div class="line-bc" id="line-bc">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if m.sender_id == current_user.id %>
          <div class="mycomment">
            <p><%= m.message %></p>
          </div>
          <div class="bms_clear"></div>
        <% else %>
          <div class="balloon6">
            <div class="faceicon">
              <i class="fas fa-user-circle fa-2x fa-fw my-skyblue"></i>
            </div>
            <div class="chatting">
              <div class="says">
                <p><%= m.message %></p>
              </div>
            </div>
          </div>
          <div class="bms_clear"></div>
        <% end %>
      <% end %>
    <% else %>
      <br>
      <h3 class="text-center">メッセージはまだありません</h3>
      <br>
    <% end %>
    </div>
    <br>
    <div id="bms_send">
      <%= form_for @message do |f| %>
        <%= f.text_field :message, :id => "bms_send_message", :placeholder => "メッセージを入力して下さい" %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <%= f.submit "送信", :id => "bms_send_btn" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    var obj;
    obj = document.getElementById('line-bc');
    obj.scrollTop = obj.scrollHeight;
  });
</script>
