<!DOCTYPE html>
<html>
  <head>
    <title>RecipeShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9c7a2b17b7.js"></script>
  </head>

  <body>
    <nav>
      <div class="logo">
        <li>
          <%= link_to("Recipe-share", "/")%>
        </li>
      </div>
      <ul class="header-menus">
        <% if user_signed_in? %>
          <li>
            <%= link_to(current_user.nickname, "/users/#{current_user.id}") %>
          </li>
          <li>
            <%= link_to("投稿一覧", "/recipes") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/recipes/new") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users") %>
          </li>
          <li>
            <%= link_to("メッセージ", "/rooms") %>
          </li>
          <li>
            <%= link_to("ログアウト", destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to("ログイン", new_user_session_path) %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
