<!DOCTYPE html>
<html>
  <head>
    <title>RecipeShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/9c7a2b17b7.js"></script>
  </head>

  <body ontouchstart="">
      <%= render 'layouts/navbar' %>
      <div class="application_wrapper">
        <%= yield %>
      </div>
    <footer>
      <div class="footer_container">
        <a href="/inquiries/new">お問合せ</a>
        <p>|   Copyright ⓒ Recipe_share All Rights Reserved. </p>
      </div>
    </footer>
  </body>
</html>
